*{
    padding:10px;
    margin:5px;
    background-color:black;
    justify-content:center;
    justify-items:center;
}
#one{
border-radius:50px;
width: 250px;
background-color:aquamarine;
font-size:20px;
}
.button{
    background-color:black;
    color: white;
    margin: 10px;
    width: 50px;
    border-radius:50px;
    font-size:20px;
}
.button:hover
{
    background-color:beige;
    color:black;
    cursor:pointer;
}
div{
    background-color:aqua;
    width: 300px;
    border-radius:20px;
    border-color:1px;
    border:solid;
}